.course-container {
    text-align: center;
    padding: 20px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.course-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.course-card:hover {
    transform: scale(1.05);
}

.course-card h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.course-card p {
    margin: 5px 0;
    color: #333;
}


.view-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.view-button:hover {
    background-color: #0056b3;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: width 0.3s ease; 
}



.generate-pdf-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generate-pdf-button:hover {
    background-color: #45a049;
}
